<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi-Crypto Gateway</title>
    <link rel="stylesheet" href="/static/style.css">
    
</head>
<body>
    <div class="container">
        <h1>Select crypto</h1>
        <form action="/create_invoice" method="GET">
            <ul class="coin_list">

                <li>
                    <input type="radio" id="btc" name="coin" value="BTC" required>
                    <label for="btc">BTC</label>
                </li>
                <li>
                    <input type="radio" id="ltc" name="coin" value="LTC">
                    <label for="ltc">LTC</label>
                </li>
                <li>
                    <input type="radio" id="xmr" name="coin" value="XMR">
                    <label for="xmr">XMR</label>
                </li>
            </ul>
            <button type="submit">CREATE INVOICE</button>
        </form>
    </div>

</body>
</html>